################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkItemMigration/.vs/WorkItemMigration/v16
/WorkItemMigration/bin/Debug/netcoreapp2.2
/WorkItemMigration/obj
